[2018-08-14 02:53] eatskolnikov opened #1 "As a user I want to be able to log in with social networks"
- Facebook
- Microsoft
- Linkedin
- Google

[2018-08-14 02:54] eatskolnikov opened #2 "As a user I want to have a crud for jobs"
Just like in the old version

[2018-08-14 02:57] eatskolnikov opened #3 "As a user I want to be able to confirm posts"
Right now we are using Slack to confirm posts.
We could either:
1. Keep slack and move it to a private channel in the emplea.do slack
2. Move this confirmation to teams

[2018-08-20 05:35] eatskolnikov commented on #1
Solved in PR #6

[2018-08-20 05:35] #1 closed

[2018-08-20 21:15] luis-ramirez opened #9 "How can I access to the emplea.do's slack?"
Hi there, I was looking int the README how I can have access to the emplea.do's slack team and I haven't seen anything related to.

Is there any way to access there?

Thanks

[2018-08-21 01:54] eatskolnikov commented on #9
@luis-ramirez We were creating invitations but they expire on 30 days so I'm setting up slackin so users can get unlimited invitations.

[2018-08-21 04:56] eatskolnikov commented on #9
La url del Slack es https://empleado.slack.com
La url para crear una cuenta e invitar mas personas es http://bit.ly/empleadoslack

![screen shot 2018-08-21 at 12 56 02 am](https://user-images.githubusercontent.com/1693000/44381162-ff6e9e00-a4dc-11e8-80a7-4620d3473312.png)

[2018-08-21 04:56] #9 closed

[2018-08-21 16:57] RaulMonteroC commented on #3
I prefer using a slack private channel with a small no. of reviewers. From my point of view this lowers the entry barrier for new reviewers and as such allows faster response to job post updates.

[2018-09-01 19:50] #3 closed

[2018-09-01 19:51] eatskolnikov commented on #3
In the end we moved it to the slack of this project, the community will be the moderators of the posts

[2018-09-13 18:52] eatskolnikov opened #13 "The alerts don't show"
When using the WithSuccess, WithWarning or WithError extension methods the alert isnt showing.
It is my believe this is a sessions /flashdata kind of problem.

Steps to reproduce:
- Try to create a job post

If there is a field with the wrong format you should get something like this:
<img width="1180" alt="screen shot 2018-09-13 at 2 50 39 pm" src="https://user-images.githubusercontent.com/169300

[2018-09-13 19:23] ivanatista opened #14 "Wrong URL When downloading Windows and Mac SDK"
In the file Readme.md. When You try to download the .NET SDK, the first URL of Windows and Mac are inverted.

The literal of the links are "in this link".
![inverted](https://user-images.githubusercontent.com/9642676/45510860-70fedc80-b769-11e8-849f-e9f2a905f663.jpg)

[2018-09-14 04:05] LuisJaquez opened #15 "Mixed Content Errors"
I am receiving the following mixed content errors:

1. `A file with an insecure url of "http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" was loaded on line: 28 of https://emplea.do/.
This URL will need to be updated to use a secure URL for your padlock to return.`

2. `A file with an insecure url of "http://maps.googleapis.com/maps/api/js?libraries=places" was loaded on line: 54

[2018-09-21 00:53] #13 closed

[2018-09-21 02:47] eatskolnikov commented on #14
@ivanatista We are waiting for the PR mate

[2018-09-21 02:48] eatskolnikov opened #18 "Migrate the old data"
We need to create a script to migrate the currently available data and moves it to the new model

[2018-10-09 19:14] codercampos commented on #2
I think this is done in my last PR, We can check it out later if you want

[2018-10-09 19:17] codercampos commented on #14
I think We can close this one @eatskolnikov

[2018-10-10 16:14] eatskolnikov opened #21 "Include opencollective donors in credits"
Include opencollective donors in credits

Endpoint for reference
https://opencollective.com/empleo-dot-net/members/all.json

[2018-10-10 16:16] eatskolnikov opened #22 "Define issue submission template"
When user report a bug we should have a predefined template to ease reading

[2018-10-10 16:27] #14 closed, assigned to eatskolnikov

[2018-10-10 21:08] codercampos commented on #22
I'll check DOT NET foundation standards so We can follow them

[2019-03-26 19:22] christianrd commented on #2
Hi, how we going with it?

[2019-03-26 20:28] codercampos commented on #2
@christianrd I have to re-check this later. I'm planning to start again on April

[2019-03-29 02:59] christianrd commented on #2
@codercampos ok, let me know if you need a hands with it.

[2019-03-29 22:40] codercampos opened #24 "[Discussion] Update to Identity Framework and don't depend on social media log ins"
I have noticed that the site uses social media providers to log in users. Is there any way to create a login / sign up feature that does not depend on social media providers.

I know, in practice, it's easy to use your social media but I think We have to support the "old-reliable" login / sign up process. Also, for testing in a local environment, We won't need social keys to test new feature.

[2019-06-05 21:04] christianrd opened #26 "Work in the same environment with container"
As a Contributor, I would like to work in the same environment as other collaborators.

[2019-06-10 13:15] eatskolnikov commented on #26
Do elaborate @christianrd how would you achieve this?

[2019-08-21 01:19] eatskolnikov opened #28 "Nuevos diseños de páginas"
Home
http://codeminifier.com/workio-job-board-template/workio/home-2.html

Resultados de búsqueda
http://codeminifier.com/workio-job-board-template/workio/verticle-large-job.html

Detalles de trabajo
http://codeminifier.com/workio-job-board-template/workio/job-detail.html

Listado de empleadores
http://codeminifier.com/workio-job-board-template/workio/grid-employers.html

Iniciar sesión
http://cod

[2019-08-21 03:34] #26 closed

[2019-08-21 11:57] eatskolnikov commented on #24
Sorry mate, just social media for now.

[2019-08-21 11:57] #24 closed

[2019-08-21 13:31] cuesto opened #30 "Agregar al Read.me el link del canal de slack"

[2019-08-21 15:33] eatskolnikov commented on #30
Este es el link
https://empleado-slack.azurewebsites.net/

[2019-08-22 13:30] eatskolnikov opened #31 "Armar página de home"
Basado en este diseño, sin las secciones de Home
http://codeminifier.com/workio-job-board-template/workio/home-2.html

[2019-08-22 13:40] eatskolnikov opened #32 "Resultados de búsqueda"
Basado en este template
http://codeminifier.com/workio-job-board-template/workio/verticle-large-job.html

![Screen Shot 2019-08-22 at 9 40 34 AM](https://user-images.githubusercontent.com/1693000/63519422-e9653600-c4c0-11e9-8c37-d621e59d76e7.png)

[2019-08-22 13:42] eatskolnikov opened #33 "Detalles de trabajo"
Basado en este template

http://codeminifier.com/workio-job-board-template/workio/job-detail.html
![Screen Shot 2019-08-22 at 9 41 22 AM](https://user-images.githubusercontent.com/1693000/63519468-069a0480-c4c1-11e9-9562-c9d3f5697c53.png)

[2019-08-22 13:43] eatskolnikov opened #34 "Listado de empleadores"
Basado en este template
http://codeminifier.com/workio-job-board-template/workio/grid-employers.html

![Screen Shot 2019-08-22 at 9 42 55 AM](https://user-images.githubusercontent.com/1693000/63519592-406b0b00-c4c1-11e9-98a8-5213c00ea74a.png)

[2019-08-22 13:47] eatskolnikov opened #35 "Contributors page"
Thank you, beautiful people!!!
http://codeminifier.com/workio-job-board-template/workio/grid-candidate.html

![Screen Shot 2019-08-22 at 9 46 30 AM](https://user-images.githubusercontent.com/1693000/63519918-c71fe800-c4c1-11e9-8658-b3578ebe4c23.png)

[2019-08-22 15:04] HommyDeJ commented on #33
.

[2019-08-22 15:05] eatskolnikov commented on #33
Muy económico tu comentario @HommyDeJ 😅

[2019-08-22 20:47] HommyDeJ commented on #34
.

[2019-08-22 21:24] DannyFeliz commented on #34
@HommyDeJ Puedes hacerle un watch a los issues sin gustas 😅

[2019-08-23 19:25] #30 closed

[2019-08-24 18:02] eatskolnikov opened #39 "Agregar proyecto de migraciones"
Agregar scripts para creación de tablas con fluent migrator

[2019-08-24 18:20] eatskolnikov opened #40 "Configurar inyección de dependencias"
Agregar inyección de dependencias
Configurar para hacer el mapping de Interfaces con clases de implementación

[2019-08-24 18:21] eatskolnikov opened #41 "Agregar proyecto de servicios"

[2019-08-24 18:26] eatskolnikov commented on #32
@HommyDeJ .

[2019-08-24 18:30] HommyDeJ commented on #32
Ayer hice pr.

[2019-08-27 01:40] #32 closed

[2019-08-27 01:40] #33 closed

[2019-08-27 01:40] #34 closed

[2019-08-27 16:20] eatskolnikov opened #44 "Agregar proyecto de acceso a data"
Incluir Repositorios y AppContext

[2019-08-27 16:32] HommyDeJ opened #45 "Crear HomeViewModel y separar las vistas con partial views"
### **- Incluir Archivo HomeViewModel**
### **- Incluir partial views para separar las vistas del home**

[2019-08-28 03:27] eatskolnikov opened #46 "Agregar servicio de slack"
Debo poder enviar una solicitud de aprobación a slack

[2019-08-28 13:57] christianrd opened #47 "Agregar alternativa de reportar bugs a usuarios sin cuenta en github"
Agregar la opción para usuarios que no saben o no usan github para reportar bugs de emplea.do
Idea formulada por @eatskolnikov :

- [x] Formulario en el sitio web
- [x] Implementar Captcha
- [ ] Al mandarlo creamos un issue en github
- [ ] Le ponemos un tag de "User submitted"
- [ ] Notificamos en un canal de slack

[2019-08-28 14:36] granalberto opened #48 "Error en inicio de sesión con Google"
Desde aquí: https://emplea.do/account/login

Elijo la opción **ACCEDE CON GOOGLE** y me lleva al inicio de sesión en Google. Como tengo varias cuentas activas, me permite seleccionar con cuál quiero iniciar sesión. Elijo la cuenta deseada y me devuelve al mismo sitio de emplea.do para iniciar sesión, como si no hubiese hecho nada previamente.

[2019-08-28 17:52] eatskolnikov opened #49 "Configurar autenticación"
Vamosa configurarlo usando OWIN para .net core e integraremos estos servicios por ahora:

- [x] Google #48
- [x] Linkedin
- [x] Microsoft
- [x] Facebook
- [ ] Github

[2019-08-28 23:51] eatskolnikov commented on #47
@christianrd ¿Qué sugerencias tienes?

[2019-08-28 23:58] eatskolnikov opened #50 "Auto publicar posiciones en twitter"
Cuando se apruebe un job se debe publicar en twitter automaticamente.

Para referencia:
https://twitter.com/emplea_do

[2019-08-29 00:03] eatskolnikov opened #51 "Permitir hacer preview de empleos no aprobados"
**Comportamiento actual:**
- Si el job no ha sido aprobado solo sale un mensaje de "La posición está pendiente de aprobación"
- La persona que creó la posición no puede ver/revisar el detalle de la posición hasta que es aprobada

**Comportamiento deseado:**
- Permitir que se vea el trabajo sin aprobar
- La persona que lo creó debe poder ver el detalle de la posición aunque no haya sido publicada

[2019-08-29 02:55] cvivieca commented on #46
Solo para aclarar @eatskolnikov, el comportamiento que se desea es el siguiente:

1. Un usuario publica una nueva oferta de empleo.
2. Se envía el titulo, descripción y usuario por Slack solicitando una aprobación.
3. Si se aprueba se elimina, en caso de no aprobarse ¿se le da un **feedback** al usuario de que cambiar o se pierde dicha oferta?

[2019-08-29 13:20] christianrd commented on #47
@eatskolnikov creo que se puede usar los famosos formularios de google, microsoft, entre otros... o crear una vista que envie eso como mensaje a un correo destinado para eso de emplea.do.

[2019-08-29 17:13] JhonasV commented on #51
Me gustaria tomar este issue

[2019-08-29 21:16] eatskolnikov commented on #48
@granalberto mandame un correo a enmanuel@megsoftconsulting.com o escribe a la página de facebook con los detalles de la posición

[2019-08-29 21:17] eatskolnikov commented on #47
🤔 A ver que se le ocurre a la comunidad, comparte este issue en el slack y dale mention @channel

[2019-08-29 21:24] eatskolnikov commented on #51
@JhonasV aún no hemos aplicado la parte de manejo de sesión pero puedes ir haciendo lo siguiente:
- En el endpoint de Jobs/Details agrega un parámetro de IsPreview
- En el servicio de jobs agrega un método de "GetDetails(int id, bool isPreview=false);
- En la lógica de GetDetails pon que en la búsqueda el compare algo como jobsList.Where(x=>x.Id=id && x.IsApproved == !isPreview);

You got it? Cuan

[2019-08-29 21:28] eatskolnikov commented on #49
@christianrd
¿has tenido algún impedimento?

Mira esta referencia https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-2.2&tabs=visual-studio

Solo tienes que configurar el login/registro con un botón:
- El alcance es que se haga el redirect correctamente y tengas la información del perfil de la persona en memoria.
- No tienes que acceder a la base de datos

[2019-08-29 21:33] eatskolnikov commented on #46
Sí, el feedback del usuario es que hay un flag de "Rejected" en la posición, cuando el entre va a ver que dice "Esta posición ha sido rechazada."

Para muestra de como se ve en slack mira estas imágenes:

![Screen Shot 2019-08-29 at 5 31 22 PM](https://user-images.githubusercontent.com/1693000/63977842-d6cf9b80-ca82-11e9-8c78-cdfbc427ec9d.png)

![Screen Shot 2019-08-29 at 5 30 53 PM](https://user-

[2019-08-29 21:33] eatskolnikov commented on #46
@cvivieca ¿Quieres que te lo asigne?

[2019-08-29 22:21] JhonasV commented on #51
Perfecto, I got it.

[2019-08-30 05:03] cvivieca commented on #46
Si, por favor.

[2019-08-31 00:53] eatskolnikov opened #52 "Crear pantalla de mantenimiento de perfil de usuario"
Para referencia
http://codeminifier.com/workio-job-board-template/workio/employer-dashboard.html

- [ ] Crea los partial views de las secciones de la página
- [ ] Agrega el ViewModel

[2019-08-31 01:05] #31 closed

[2019-08-31 02:44] eatskolnikov commented on #52
@HommyDeJ This one

[2019-08-31 16:11] eatskolnikov opened #54 "Colocar informaciones del footer"
Links de las redes sociales
Thanks to major sponsor
Fork us on the github
Link to Slack

[2019-08-31 16:18] HommyDeJ commented on #52
@eatskolnikov  .

[2019-08-31 16:26] HommyDeJ commented on #47
Opino que se podría crear un contact form que contenga nombre de la persona que está reportando, obviamente el bug. Esos mensajes llegarían a una cuenta de correo manejada por uno de los admins del site.

[2019-08-31 16:26] icepeda commented on #52
Asigna este issue a mi por favor

[2019-08-31 16:32] eatskolnikov opened #55 "Agregar página de Login"
Para referencia:
http://codeminifier.com/workio-job-board-template/workio/login.html

Solo incluir botones de redes sociales:
- [ ] Facebook
- [ ] Github
- [ ] Linkedin
- [ ] Google
- [ ] Microsoft

[2019-08-31 16:40] eatskolnikov commented on #49
@christianrd esto se relaciona con el issue #55 pero no te preocupes por la parte visual, solo configura el owin. Si tienes algún impedimento podemos hacer pair hoy o mañana, escribeme.

[2019-09-01 03:14] christianrd commented on #49
@eatskolnikov entendido, te escribo por slack...

[2019-09-01 03:24] christianrd commented on #47
Deacuerdo con @HommyDeJ pero para hacerlo mas interesante que llegue como notificacion al canal de Slack del proyecto.

[2019-09-01 04:14] JhonasV commented on #55
I would like to take this issue

[2019-09-02 05:40] eatskolnikov opened #58 "Agrega minificación de assets"
Documentación de referencia
 https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification

[2019-09-02 05:42] eatskolnikov opened #59 "Agrega manejador de paquetes para javascripts"
Actualmente estamos agregando al repositorio los archivos estáticos de librerías JS de terceros. La idea es removerlos y usar algo como npm y un script de inicialización que descargue las librerías.

[2019-09-02 11:40] robertlluberes commented on #58
Me gustaría trabajar en este Issue.

[2019-09-02 12:12] robertlluberes commented on #59
Me gustaría trabajar en este Issue, ya que guarda relación con el #58

[2019-09-02 15:01] eatskolnikov commented on #49
@christianrd ¿algún impedimento?

[2019-09-02 15:28] christianrd commented on #49
@eatskolnikov solo el tiempo 👀

[2019-09-02 15:42] eatskolnikov commented on #49
@christianrd ¿has avanzado algo?

[2019-09-02 23:38] Cesarlachapelle commented on #49
@christianrd puedo darte una mano, solo grita si necesitas ayuda.

[2019-09-03 00:19] eatskolnikov opened #61 "Agregar proyecto de unit tests"

[2019-09-03 01:34] #39 closed

[2019-09-03 01:34] #40 closed

[2019-09-03 01:34] #44 closed

[2019-09-03 01:34] #45 closed

[2019-09-03 01:34] #51 closed

[2019-09-03 01:34] #54 closed

[2019-09-03 12:42] christianrd commented on #49
@Cesarlachapelle bien, te escribo por slack

[2019-09-03 17:52] Cesarlachapelle commented on #50
asigname este issue

[2019-09-03 18:06] Cesarlachapelle commented on #18
How we are going to accomplish this ? we will load the data in one go or we will load small batches.

[2019-09-03 20:20] eatskolnikov commented on #18
@Cesarlachapelle it's not a huge load, we just need to take the time to create a few queries and transform the old entities to the new model.

[2019-09-04 23:48] #59 closed

[2019-09-05 00:53] eatskolnikov opened #66 "Add migrations for entities"
**Read the whole thing before starting 👇**

- Add migrations for entities in the root of the Domain project, just the root.
- Add the table name as a constant
- One entity per migration file

Make sure to install the fluent migrator CLI tool
[code]

You **need** to compile the Migrations project before running the script

The command to run the migrations is bellow. You need to run it from the Mig

[2019-09-05 01:05] amaurygomez commented on #66
I will be working on this requirement.

[2019-09-05 23:04] claudiosanchez commented on #66
@amaurygomez - Dime a ver? tienes un Pull request con esto ya? ¿Como puedo ayudarte?

[2019-09-06 01:51] amaurygomez commented on #66
Buenas noches Claudio, estoy setiando FluentMigrator.Runner para automatizar el proceso manual de Fluent Migrator.

[2019-09-08 20:55] Richard809 commented on #61
Do you have a testing framework in mind? Are there any specific areas needing unit tests right now? How can I help?

[2019-09-08 22:53] eatskolnikov commented on #61
Plain ol' Nunit for now, we will focus on this effort after we publish the new site. For now you can help with trying to make sense of PR #68

[2019-09-09 02:51] #66 closed

[2019-09-09 02:52] #55 closed

[2019-09-09 02:53] eatskolnikov opened #70 "Configurar autenticación con github"
Cuando esté hecha por favor comentar el issue #49

[2019-09-09 02:56] eatskolnikov opened #71 "Documentar proceso de obtención de los keys y client ids para autenticación"
Agrega un archivo aparte llamado Authentication.md
Referencia el archivo en el readme.md

- [ ] Documentación de Facebook
- [ ] Documentación de Microsoft
- [ ] Documentación de Linkedin
- [ ] Documentación de Github
- [ ] Documentación de Google

Por favor comentar el issue #49 cuando se termine

[2019-09-09 02:57] eatskolnikov commented on #47
Estoy de acuerdo con crear una notificación en slack, no tanto con mandar un correo. ¿quién va a atender ese buzón? 🤔

[2019-09-09 03:02] eatskolnikov commented on #47
Chequeen esta idea:
- Formulario en el sitio web
- Al mandarlo creamos un issue en github
- Le ponemos un tag de "User submitted"
- Notificamos en un canal de slack

[2019-09-09 03:03] eatskolnikov opened #72 "Crear capa de acceso a datos"
- [x] Configurar db context
- [x] Agregar table configurations
- [x] Agregar clases de repositorios
- [x] Agregar valores de categorías y hiretypes

[2019-09-09 03:43] robertlluberes commented on #70
Me gustaría trabajar en este Issue.

Tengo una duda, el `ClientId` y el `ClientSecret` de los diferentes proveedores de autenticación, cuando se configuren ¿debería de estar en el archivo `appsettings`? https://github.com/developersdo/emplea_do/blob/0451c54e597f045ac7ac096287476ff7ef090988/Web/appsettings.Development.json#L12-L33

Entiendo que esa información es privada y deberia de ir en `secret`

[2019-09-09 06:43] eatskolnikov commented on #70
@robertlluberes no, hay una instrucción en el readme.md para decirle a github que ignore los cambios en ese archivo

[2019-09-09 20:14] Richard809 commented on #61
That PR is already merged 👀

[2019-09-10 00:19] eatskolnikov commented on #71
@robertlluberes te lo voy a asignar, comenta plz thnx 🙆🏽‍♂️

[2019-09-10 01:09] robertlluberes commented on #71
Dale, asignarlo @eatskolnikov

Podrias darme más detalles, lo quieres con imágenes, ejemplo real, etc?

[2019-09-10 02:56] robertlluberes opened #75 "Agregar librerías Javascript utilizando LibMan"
Según la revisión que pude realizar, actualmente el proyecto está utilizando las siguientes librerías Javascript de manera estatica en el _Layout_ y otros archivos, lo que lo hace inmanejable:

- [jquery](https://jquery.com/)
- [popper.js](https://popper.js.org/)
- [bootstrap](https://getbootstrap.com/)
- [select2](https://select2.org/)
- [aos](https://michalsnik.github.io/aos/)
- [perfect-scrollb

[2019-09-10 13:34] HommyDeJ commented on #47
@eatskolnikov  Me parece muy buena la idea, puedo tomar este issuse?

[2019-09-10 16:43] eatskolnikov commented on #71
@robertlluberes sí incluye imágenes y prepara las guías step by step en un lenguaje llano e incluye urls.

Algo como:

0. Go to xyz.com and click the "lorem ipsum button" at the top of the screen
[ Here goes an image with the lorem ipsum button higlighted ]
1. ...
2. ...
3. ...
n-1. Copy the *Client Id* and paste it in the *ClientId* string for xyz within the application.Development.json file
n. C

[2019-09-10 17:33] #49 closed

[2019-09-10 17:33] #70 closed

[2019-09-10 17:40] eatskolnikov commented on #47
@HommyDeJ esto depende del issue #46

[2019-09-10 17:42] eatskolnikov opened #76 "Remover libman del proceso de compilación?"
Actualmente libman corre en la consola cada vez que se compila el proyecto web.
Ya movimos el script de inicialización de libman al init.sh, este paso no es necesario.

[2019-09-10 17:43] eatskolnikov commented on #2
I'll be taking this now :p

[2019-09-10 17:50] #72 closed

[2019-09-10 17:56] eatskolnikov commented on #61
@Richard809 I merged it, dale con nunit

[2019-09-10 19:11] HommyDeJ commented on #47
@eatskolnikov Si, entonces debo esperar a que se cierre ese ticket?

[2019-09-10 19:57] Richard809 commented on #61
@eatskolnikov will do

[2019-09-10 22:55] eatskolnikov opened #77 "Improve contributors profiles"
- Configure a webhook so when a PR is accepted the user information is sent to the platform
- Save the user github profile information in the database

https://developer.github.com/webhooks/
https://developer.github.com/v3/users/
These are the properties we want in the contributors profiles: Id, login, name, bio, avatar_url, blog, hireable

[2019-09-10 23:00] eatskolnikov opened #78 "Include sponsors section"
**For reference:**

https://opencollective.com/emplea_do
https://opencollective.com/emplea_do/members/organizations.json <- List of organizations
https://opencollective.com/emplea_do/members/users.json <- List of individual

[2019-09-11 01:07] icepeda commented on #78
Asigname este issue please.

[2019-09-11 20:15] christianrd commented on #48
@eatskolnikov no se debería cerrar este Issue?

[2019-09-12 03:45] robertlluberes commented on #76
En mi computador, el proceso dura 0.31 segundos, vale la pena?

[code]

[2019-09-16 23:23] GianCastle opened #83 "Filter component"
As a user, I want to filter the cards by skills. So then, I can see developers who code on a certain technology (skill)

A.C
- A filter component that contains (n) number of checkboxes of the different skills by a developer
- When a user checks one or more checkboxes, the DevsWhoCodesList component will re-render the cards based on the filter

[2019-09-16 23:24] #83 closed

[2019-09-19 01:34] claudiosanchez opened #84 "Migrations failing when being run in a new database (SQL Server)."
If you try to run the migrations in a new Database (SQL Server), the inserting of data fails.

```dotnet fm migrate -p SqlServer -c "Data Source=.;Initial Catalog=emplea-do-new;Persist Security Info=True;Trusted_Connection=True" -a .\Migrations\bin\Debug\netcoreapp2.2\Migrations.dll --verbose ```

<img width="1621" alt="Screen Shot 2019-09-18 at 9 29 58 PM" src="https://user-images.githubuserconte

[2019-09-19 18:14] eatskolnikov opened #86 "Endpoint para slack"
Agrega un controller que redireccione a la url para hacer inscribirse en el slack.

Quedaría algo como: https://emplea.do/slack

La url para inscribirse en slack es esta https://empleado-slack.azurewebsites.net/

[2019-09-19 23:04] cvivieca commented on #46
Hey @eatskolnikov esta semana subo el PR. Lo tuve que pausar unos días por temas de trabajo. 😎

[2019-09-20 00:05] claudiosanchez opened #87 "To have the capability of dynamically toggle features on the website | Feature Flags."

[2019-09-20 16:40] eatskolnikov commented on #46
@cvivieca ok

[2019-09-20 23:00] #87 closed

[2019-10-10 21:30] eatskolnikov commented on #50
@Cesarlachapelle ¿cómo va este issue?

[2019-10-10 22:03] #76 closed

[2019-10-10 22:33] #75 closed

[2019-10-10 23:12] eatskolnikov opened #92 "Como desarrollador quiero tener disponible un API para consumir"
Sin autenticación.
GET
POST
UPDATE
DELETE

[2019-10-11 00:12] #78 closed

[2019-10-11 13:21] cuesto commented on #86
Le echaré un vistazo

[2019-10-11 15:21] robertlluberes opened #95 "LibMan sigue en el proceso de compilación"
A pesar de que se eliminó el LibMan del proceso de compilación en el PR #81 este sigue en el proceso, al parecer se mezcló con otro cambio.

**Esta linea debería ser eliminada:**
https://github.com/developersdo/emplea_do/blob/f5c6e83496a373c4ebb3adf89e79c8c6ce057adb/Web/Web.csproj#L24

[2019-10-14 12:33] Cesarlachapelle commented on #50
ohh sorry, its ready, hice el pull request ya

[2019-10-14 18:17] Cesarlachapelle commented on #92
como se trabajara esto ? y a que entidades en especifico se le hara el api ?

[2019-10-24 00:06] Cesarlachapelle commented on #92
@eatskolnikov asigname este issue

[2019-10-25 06:30] ajpinedam opened #99 "Estoy intentando postear un job y me pide el location que esta lleno"
**Error**
Estoy intentando postear un job y me pide el location que esta lleno.

**Steps To Reproduce**

**Expected behaviour**
Si el campo del location esta lleno no deberia pedirlo.

**Screenshots**
![emplea_do_error_localidad](https://user-images.githubusercontent.com/1900897/67548192-36d36e80-f6cf-11e9-9daf-80eaecca525a.jpg)

**Environment**

**Additional context**

[2019-10-25 08:19] DannyFeliz commented on #99
@ajpinedam Este error ya se lo había comentado a @eatskolnikov alguna vez.

Pero ne general lo que sucede es que en ese campo se usa el API de google map o google places y se agota la cuota de API call y falla por el campo de localidad aunque le pongas el valor ahí no lo llenará en el campo que se manda al backend, so lo que he tenido que hacer varias veces es darle submit al form y en el network

[2019-10-25 14:58] eatskolnikov opened #100 "Agregar manejo de roles"
Dentro del perfil de la empresa permitir agregar usuarios a la misma para que agreguen posiciones.

*Por pedido de uno de los patrocinadores de la plataforma.

[2019-10-26 03:28] claudiosanchez commented on #99
@ajpinedam - En meterle el turbo al proyecto para moverlo a .NET Core. @eatskolnikov Está medio flojo con eso. :)

[2019-10-26 05:10] claudiosanchez commented on #99
@ajpinedam - Y by the way. Este es el repo nuevo (.NET Core). No el repo del site que está en Prod.

[2019-11-02 19:04] #95 closed

[2019-11-02 21:20] eatskolnikov opened #102 "Agregar versión al footer del template"
Incluir el número de versión en el footer de la página

[2019-11-02 21:20] eatskolnikov opened #103 "Hacer bump de la versión en el CI"
Incluir un paso en el build pipeline que incremente el número de versión del webiste

[2019-11-02 21:24] eatskolnikov opened #104 "Change checkboxes to use i-checks"
Use it globally
http://icheck.fronteed.com/

[2019-11-05 15:41] christianrd commented on #102
@eatskolnikov Eso se manejaría con el assembly version?

[2019-11-06 20:16] NestorEduardo commented on #104
Por favor, asignarme este issue

[2019-11-07 12:47] christianrd commented on #50
creo que este issue ya se puede cerrar -> #98

[2019-11-07 17:46] claudiosanchez opened #107 "Update Job Listing Template to match/include info from Legacy."
The current Job Listing Template (```JobResultItemView.cshtml```) does not match the data available for the Job.

As the diagram below shows, the following items need to be addressed:
![image](https://user-images.githubusercontent.com/2293759/68413831-6bcad100-0165-11ea-8ed9-dc61fad3d2e1.png)

<img width="1051" alt="Screen Shot 2019-11-07 at 1 46 47 PM" src="https://user-images.githubusercontent.c

[2019-11-26 04:40] 3pa2 commented on #107
mio

[2019-12-12 04:23] ronelpanag commented on #104
Square skin?

[2019-12-29 20:36] ljcordero opened #113 "Versión de librerías no encontradas "cdnjs""
Actual:
Al ejecutar libman restore ocurren los siguientes errores:
![image](https://user-images.githubusercontent.com/29816580/71562565-c34c3580-2a60-11ea-8f09-467a0471dc8b.png)

En cdnjs **(Fecha Actual: 2019-12-29 )** al buscar esas librerías se muestra lo siguiente:
**twitter-bootstrap**
![image](https://user-images.githubusercontent.com/29816580/71562595-19b97400-2a61-11ea-915c-4718ddd3ee16.pn

[2019-12-29 22:12] ljcordero opened #114 "Agregar Microsoft como una opción de Login"
**Actual:**
No esta disponible la opción de autenticarse con Microsoft.

![image](https://user-images.githubusercontent.com/29816580/71563499-2644c900-2a6f-11ea-86fd-324bb5384630.png)

**Esperado:**
Como en el site anterior poder autenticarse con Microsoft.

![image](https://user-images.githubusercontent.com/29816580/71563493-0ca38180-2a6f-11ea-9ca6-27f6324612b3.png)

**Solo es necesario agregar e

[2020-01-01 20:06] ljcordero commented on #113
En fecha: **2020-01-01** están disponibles las librerías de este issue.

[2020-01-01 20:06] #113 closed

[2020-02-05 02:15] christianrd commented on #102
@eatskolnikov Asignámelo por favor!

[2020-02-09 02:17] sact1909 opened #116 "Job Search End Point"
Create the Jobs Search End Point for the Emplea.do Mobile API

[2020-02-09 06:00] sact1909 commented on #92
@eatskolnikov , el API entonces se creara desde aqui, un proyecto nuevo dentro de la solución desde cero.

[2020-02-11 19:07] amaurygomez commented on #92
Buenas tardes @eatskolnikov, cree un soluction API que consume producion con swagger. puedo hacer un pull request y anexarlo al proyecto ? . Cualquier cosa podemos tener un meeting y te presento la solucion.

[2020-04-05 15:04] icepeda opened #119 "Minor bugs en job search y fecha de publicación."
1- En la pagina de Jobs, el parámetro IsRemote no es nullable, por ende siempre busca IsRemote=False, el comportamiento deseable es que se utilice en  **Sólo mostrar posiciones remotas**.
2- No se asigna PublishedDate al darle approved al Job.

[2020-04-26 08:01] gromney opened #121 "Podemos Migrar de Core 2.2 to 3.1?"
pregunto porque no se si es necesario ademas no parece tan complicado segun esta
[guia](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio), imagino que es solo validar que no se rompa nada con los [cambios](https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.1)
La version utilizada en el proyecto ya no es recomendada. S

![image](ht

[2020-05-22 16:08] eatskolnikov opened #123 "The last stand"
One big effort to publish the new site

**Fase 1**
- [x] Implementar la nueva pantalla de búsqueda @eddycordero
- [x] Implementar búsqueda desde el home @eddycordero
- [x] Agregar imagen por defecto (no-image) @juniorfelixgb
- [x] Agregar documentación de feature flags @juniorfelixgb
- [x] Agregar .bat para inicialización en windows y documentar en el readme @juniorfelixgb

**Fase 2**
- [x] Anális

[2020-05-22 16:09] EddyCordero commented on #123
Hey I'm here

[2020-05-22 16:12] robertlluberes commented on #123
Count on me

[2020-05-22 16:14] eatskolnikov commented on #123
@robertlluberes i'll see what I can assing you

[2020-05-24 04:04] #71 closed

[2020-05-27 01:45] jugomez opened #128 "Error al hacer clic en ver todos Home/Index"
Expected Behavior
Navegar hacia la lista de todos los empleos

Actual Behavior
Cuando se da clic en ver todos en la pagina inicial de la aplicación, Esta mostrando error de NullReferenceException

Steps to Reproduce the Problem
1- Navegar a la página principal "Home/Index"
2- Hacer clic en el boton Ver Todos

Specifications
Web browser: Ms Edge, G Chrome
Operating system: Win10

![image](https://u

[2020-05-27 01:46] jugomez commented on #128
Estaré trabajando este caso

[2020-05-27 02:25] jugomez commented on #119
Voy a estar trabajando esto

[2020-05-27 04:18] jugomez commented on #119
Hola @icepeda, he revisado tu issue y tengo los siguientes comentarios

**1- En relación al parametro IsRemote:** Pude comprobar que no existe problema. He realizado las pruebas y todo ha funcionado correctamente. "No se si fue que realizaste tu prueba con los registros mocks ya que ambos son Remote y el filtro siempre los va a incluir"

**2- El caso de la fecha de publicación:** no pude reproduci

[2020-05-27 12:55] icepeda commented on #119
Hey @jugomez.

Hubo una confusion con este issue. Paso a explicar; Hice el issue para poder trabajarlo de inmediato y así lo hice. Los cambios ya están en development. La confusion estuvo en que al no tenerla asignada quedo abierta.  De inmediato voy a escribir por slack para que nos ayuden a cerrarla.

Por otro lado, agradezco mucho no solo tus recomendaciones, sino también por reactivar el proje

[2020-05-27 13:42] #119 closed

[2020-05-27 17:52] jugomez opened #130 "Me gustaría tener un botón para crear nuevos empleos desde mi perfil"
Como usaurio registrado me gustaría tener un botón que me permita de forma rápida ir a la pagina de crear nuevo empleo

### VISUAL ID's ###
![image](https://user-images.githubusercontent.com/3052715/83054963-2f879100-a021-11ea-8a21-14350b0d37dd.png)

[2020-05-27 18:00] jugomez opened #131 "Mensaje o alerta busqueda no contiene resultados"
Como usuario me gustaría que la aplicación me muestre un mensaje o alerta cuando realizo una consulta que no devuelve resultados.

### Visual ID's ###
https://recordit.co/69zczFOXiw

[2020-05-27 18:08] jugomez opened #132 "Incluir sistema de etiquetas (#tags)"
Incluir sistema de etiquetas para así poder agrupar tópicos de los empleos y poder medir tendencias y crear búsquedas

### Visual ID's ###
![Untitled](https://user-images.githubusercontent.com/3052715/83056291-24356500-a023-11ea-9127-b0d652e3b954.png)

[2020-05-28 02:42] eatskolnikov commented on #130
@jugomez ¿donde iría? mejor sería sacar el botón de crear empleo del menú de perfil del usuario.

[2020-05-28 02:43] eatskolnikov commented on #128
@jugomez agrega los links a los issues que estás creando en el issue #123

[2020-05-28 02:53] #102 closed

[2020-05-28 02:54] #50 closed

[2020-05-28 02:59] #61 closed

[2020-05-28 03:29] robertlluberes commented on #21
@eatskolnikov

This is the actual Endpoint reference for opencollective donors

https://opencollective.com/emplea_do/members/all.json

I could work on this issue

[2020-05-28 03:45] robertlluberes commented on #58
Voy a retomar este issue, me parece que está parcialmente completado

[2020-05-28 03:47] robertlluberes commented on #114
@eatskolnikov me gustaría trabajar este issue

[2020-05-28 12:37] eatskolnikov commented on #114
@robertlluberes do it.

Agrega lo siguiente:
[ ] Un feature flag en el appsetings, fíjate en los otros feature flags en el campo de FeatureManager del appsettings.template.json
[ ] El botón de login
[ ] Agrega los pasos para conseguir esos keys a la guía si no están

[2020-05-29 02:45] robertlluberes opened #134 "Error building the application"
If you are using the _dotnet cli_ in _Windows_ to _build_ you get following error, related with the package _Microsoft.Web.LibraryManager.Build_, this is a [known issue](https://github.com/aspnet/LibraryManager/issues/514), i will update the package and make sure that still working as the same:

`User Path\.nuget\packages\microsoft.web.librarymanager.build\2.0.76\build\Microsoft.Web.LibraryManager

[2020-05-30 00:23] robertlluberes opened #136 "Issue template not working"
Even when the project has a Issue Template defined, when you create a new _Issue_ it doesn't show up.

**Opening a Issue:** (open the gift in a new windows if it doesnt show)
![Issue Report](https://user-images.githubusercontent.com/13991439/83314739-ea628b00-a1e9-11ea-94c8-5d12f2bdb80f.gif)

**Issue Template:**
![image](https://user-images.githubusercontent.com/13991439/83314453-78d60d00-a1e8-11e

[2020-05-30 03:49] #114 closed

[2020-05-30 03:49] #134 closed

[2020-06-02 13:03] eatskolnikov commented on #123
@EddyCordero @juniorfelixgb Pongan un sitrep de lo que tengan hecho y lo que falte en un comentario aquí

[2020-06-02 13:13] juniorfelixgb commented on #123
Solo me falta probar la inserción de un Job, aun no he podido validar el
GoogleApiKey
para la validación del no-image.

El mar., 2 jun. 2020 a las 9:03, Enmanuel Toribio (<notifications@github.com>)
escribió:

[2020-06-02 23:18] robertlluberes commented on #21
There is nothing to do with this issue, it's already implemented in **/sponsors**

Visual Aids:

[2020-06-03 04:06] EddyCordero commented on #123
@eatskolnikov  Realice las dos tareas de la primera face.

Vere si le doy la mano a @juniorfelixgb  con lo faltante

[2020-06-06 03:11] jugomez opened #138 "Diferencia entre la pagina home/index y Jobs/index"
Al ingresar a la ap;icaicon la pagina home/index muestra mas empleos que la pagina jobs/index

## Home index ##
![image](https://user-images.githubusercontent.com/3052715/83934872-cec72980-a781-11ea-9c7b-2d75c97f235b.png)

## Jobs Index ##
![image](https://user-images.githubusercontent.com/3052715/83934881-e3a3bd00-a781-11ea-8ab7-8a213a139bba.png)

[2020-06-07 03:31] #131 closed

[2020-06-07 03:45] eatskolnikov commented on #123
Hice algunas ligeras adecuaciones de lo que ya han mandado, ahora voy a ver el tema del CI, la publicación y la migración de los datos.

[2020-06-07 03:47] juniorfelixgb commented on #123
Perfecto, cuando tendremos reunión?

On Sat, Jun 6, 2020, 11:45 PM Enmanuel Toribio <notifications@github.com>
wrote:

[2020-06-08 21:13] eatskolnikov commented on #123
@juniorfelixgb
Como conversamos ustedes van a trabajar esta noche en el feature del mantenimiento de las compañías

[2020-06-09 03:01] eatskolnikov commented on #123
Cuando voy a "Mi perfil"
![Screen Shot 2020-06-08 at 10 56 50 PM](https://user-images.githubusercontent.com/1693000/84101262-89059d80-a9db-11ea-90d3-673b30934877.png)

Y doy click en la pestaña de perfiles de empresas
![Screen Shot 2020-06-08 at 10 56 46 PM](https://user-images.githubusercontent.com/1693000/84101259-886d0700-a9db-11ea-9a65-c69b959c6566.png)

Debe verse el listado de mis empresas y

[2020-06-09 22:10] robertlluberes commented on #46
If I'm not wrong, you already work on this feature @eatskolnikov , according to [this tweet](https://twitter.com/eatskolnikov/status/1269753105865945088). So, this Issue can be closed

[2020-06-10 23:19] #58 closed

[2020-06-11 01:57] EddyCordero opened #159 "Crear mantenimiento de compañías"
Cuando voy a "Mi perfil"
![Screen Shot 2020-06-08 at 10 56 50 PM](https://user-images.githubusercontent.com/1693000/84101262-89059d80-a9db-11ea-90d3-673b30934877.png)

Y doy click en la pestaña de perfiles de empresas
![Screen Shot 2020-06-08 at 10 56 46 PM](https://user-images.githubusercontent.com/1693000/84101259-886d0700-a9db-11ea-9a65-c69b959c6566.png)

Debe verse el listado de mis empresas y

[2020-06-12 15:14] eatskolnikov commented on #159
@EddyCordero  Trabaja con @juniorfelixgb en esto

[2020-06-12 21:18] robertlluberes commented on #84
This doesn't happen anymore, I ran the command and work like a charm.

PD: the database (in this case, _emplea-do-new_ according to the command) has to be created before, I don't know why. Can we close this issue or wey still have to investigate? @eatskolnikov @claudiosanchez

This is the log:

[code]

[2020-06-12 22:01] robertlluberes commented on #107
Just updating the actual status of this Issue ℹ:

**Is missing the email or company email to apply** ⚠, view image comparison below:

![image](https://user-images.githubusercontent.com/13991439/84549684-991cc600-acd6-11ea-9ca6-1a59e002d94d.png)

---
---
Another thing, is better to use the icon `ti-thumb-up` for like, looks better 👍🏼:
![image](https://user-images.githubusercontent.com/13991439/8454

[2020-06-12 23:36] #84 closed

[2020-06-13 05:05] claudiosanchez commented on #107
## Update on the issue
- The Email of the Job poster is no longer required. We are moving away from Applying via email only.
- The suggestion to use ti-thumb-up sounds great!

Anyone can pick up this issue and create a PR.

[2020-06-13 05:05] claudiosanchez commented on #107
@3pa2 @robertlluberes ^

[2020-06-14 04:57] robertlluberes commented on #107
I will take it, since the email is no longer required I just have to change the like icon.

[2020-06-14 12:30] #15 closed

[2020-06-14 12:31] #21 closed

[2020-06-14 12:31] #46 closed

[2020-06-14 15:41] #107 closed

[2020-06-14 16:20] #104 closed

[2020-06-15 03:45] robertlluberes commented on #121
@gromney tomarás este Issue? Me gustaria trabajar/colaborar en el.

[2020-06-16 00:15] christianrd commented on #132
Ahí seria un especie de tags filtrada por los tops 5, lo que hay que coordinar si la empresa a la hora de crear la vacante crearía la etiqueta, usaría las ya creadas o ambos pero se le daría las sugerencias antes de crear la etiqueta para la vacante. @eatskolnikov @jugomez

[2020-06-18 02:09] Jighdan opened #162 "Unable to log in using Facebook or Linkedin"
## Describe the bug

Unable to log in using Facebook or Linkedin

## To Reproduce

Steps to reproduce the behavior:

1. Go to (https://emplea.do/Account/Login)[https://emplea.do/Account/Login]
2. Click on "Accede con Facebook" / "Accede con Linkedin"
3. Try to sig

## Screenshots

The error produced by an attempt to log in with Facebook
![image](https://user-images.githubusercontent.com/55284053/8

[2020-06-18 15:21] eatskolnikov opened #163 "Facebook messenger bot"
Como usuario quiero poder consultar trabajos preguntándole a la página de facebook.

[2020-06-18 15:22] eatskolnikov commented on #162
We are remaking  the site, the old (current prod) site is currently being mostly unsupported until further notice.

[2020-06-18 15:22] #162 closed

[2020-06-18 15:24] eatskolnikov commented on #159
@EddyCordero @juniorfelixgb
Manden el PR con lo que tengas hasta ahora plz.

[2020-06-18 16:09] Jighdan commented on #162
:+1:

[2020-06-22 18:04] christianrd commented on #47
Volviendo a este tema @eatskolnikov ya es posible tomar este issue?

[2020-06-26 21:40] eatskolnikov commented on #121
Yo lo tomo @robertlluberes

[2020-06-26 21:41] eatskolnikov commented on #47
@christianrd dale, ya tenemos el servicio de slack creado. Hace falta crear el servicio de github y hacer los otros pasos.

[2020-06-26 21:48] #159 closed

[2020-07-01 23:51] eatskolnikov opened #165 "Dockerize the web application"
To avoid compatibility issues with the SQLite database vs the production SQL Server database

- Create a docker file for an SQL server instance and a docker.sh script
- Make the migrations run on the dockerized sql server database
- Change migrations to run on the sql server database
- Add script to init.sh for docker initialization
- Add readme for docker installation

[2020-07-07 03:05] mecm1993 commented on #165
Hi @eatskolnikov , I would like to work on this issue

[2020-07-08 14:12] christianrd commented on #47
@eatskolnikov estoy trabajando en esto.

[2020-07-09 19:57] eatskolnikov commented on #165
Go for it @mecm1993

[2020-07-09 20:12] eatskolnikov opened #166 "Agregar manejo de banners"
Como usuario quiero tener una pestaña para definir banners dentro de mi manejo de perfil.

- No puedo mandar banners hasta tener el flag activado para manejar banners
- Alguien debe aceptar los banners por slack
- Los banners van a manejar subida de archivos
- Como usuario quiero poder previsualizar un banner

### Entidad

Banner : BaseEntity
- UserId
- ImageUrl
- DestinationUrl
- IsApproved

## A

[2020-07-19 22:21] eatskolnikov opened #174 "Consultar todos los campos al hacer una búsqueda"
Actualmente el texto libre de la búsqueda filtra por el titulo, descripción del puesto y como aplicar.
Hay que incluir que busque en los siguientes campos:
- Categoría
- Tipo de jornada
- Nombre de la empresa

[2020-07-19 23:30] robertlluberes commented on #174
Me gustaría trabajar en este Issue

[2020-07-20 16:08] #174 closed

[2020-07-20 16:53] robertlluberes commented on #121
@eatskolnikov Cerraré este Issue, ya que fue trabajando en este PR:

[#170 Refactoring, upgraded to .net core 3.1](https://github.com/Emplea-do/emplea_do/pull/170)

[2020-07-20 16:53] #121 closed

[2020-07-20 18:52] EddyCordero commented on #166
I'm here

[2020-07-21 02:00] eatskolnikov opened #181 "Incluir búsqueda por localidad"
Buscar por localidad en la búsqueda de texto libre

[2020-07-21 02:00] eatskolnikov commented on #181
Se me olvidó incluir este campo 😅

[2020-07-21 02:03] eatskolnikov commented on #123
Ya migramos la data, solo falta mover el site de beta a emplea.do

[2020-07-21 02:03] #123 closed

[2020-07-21 02:04] #99 closed

[2020-07-21 02:04] #52 closed

[2020-07-21 02:11] eatskolnikov opened #182 "Agregar texto de "Visita el sitio web de xxxx""
En el detalle de empleo, en el area de empresa incluir el texto "Visita el sitio web de " para que quede claro que pueden acceder al link
![Screen Shot 2020-07-20 at 10 09 17 PM](https://user-images.githubusercontent.com/1693000/88004805-d21a3880-cad5-11ea-8602-5c97557946e4.png)

[2020-07-21 02:13] eatskolnikov opened #183 "Agregar vista de empleos de compañía"
Al entrar en el detalle de un empleo incluir un link para "ver más empleos de la compañía"
debe mandar a la url <base url>/Company/{id} donde se listarán en un grid los empleos visibles y aprobados de esa compañía.

[2020-07-21 03:26] robertlluberes commented on #181
Bien, agregaré ✌️

[2020-07-21 03:41] josejavierpaez commented on #182
I will work  it tomorrow

[2020-07-21 13:45] eatskolnikov opened #185 "Remover código legacy y comentarios"
En el controller de jobs hay código explicitamente creado para mantener la versión legacy. Vamos a removerlo para que el código sea más legible.

[2020-07-21 18:15] robertlluberes commented on #185
@eatskolnikov Quisiera trabajar este Issue, pero me gustaria saber si el alcance seria solo para JobsController, ya que hay otras cosas que se pueden mejorar, ver ejemplos más abajo:

Comentarios en **JobsServices**
https://github.com/Emplea-do/emplea_do/blob/62abffb85b32e742e9e34de2b8e6bb2479def0dd/AppServices/Services/JobsService.cs#L129-L240

## Simplificar sentencias

Ejemplo: `String` -> `str

[2020-07-21 19:59] eatskolnikov commented on #185
@robertlluberes Vamos a limitarnos a los comentarios, usar String o string no es realmente un issue y puede traer conflictos con otros PR's que se están trabajando.

[2020-07-22 02:15] eatskolnikov opened #187 "Colocar llamado a acción para compartir trabajos en redes sociales"
Encima de la sección donde está la información de la empresa en el detalle de una posición.
Incluye 2 botones para compartir en Facebook y Twitter

[2020-07-22 02:44] #185 closed

[2020-07-22 03:05] robertlluberes commented on #18
Hola @eatskolnikov, me parece que esto se completó, si es así, favor cerrar este Issue.

[2020-07-22 03:17] #18 closed

[2020-07-22 23:22] #181 closed

[2020-07-23 18:44] ljcordero opened #190 "Barra de Mantenimiento Visible"
## Describe the bug

Actualmente se muestra la barra de mantenimiento en el detalle de un trabajo para usuarios no autorizados ni autenticados.

## To Reproduce

Ejemplo: https://beta.emplea.do/Jobs/Details/1067

![mantenimiento-bar-visible](https://user-images.githubusercontent.com/29816580/88324914-62cd6000-ccf2-11ea-80da-12783c6ed425.gif)

Aunque el editar te envía a la página de login, el ocul

[2020-07-23 18:52] ljcordero opened #191 "Mejora Contador de Visitas"
## Is your feature request related to a problem? Please describe.

Actualmente el contador de visitas de un trabajo aumenta en relación a la cantidad de veces que un trabajo en cliqueado.

![visitas-count](https://user-images.githubusercontent.com/29816580/88326238-d58b0b00-ccf3-11ea-8e57-ab6aca30fc7e.gif)

## Describe the solution you'd like

Implementar una validación que impida al mismo usuario

[2020-07-23 19:11] ljcordero opened #192 "Link "Compañías que confían en nosotros" roto"
## Describe the bug

El link "Compañías que confían en nosotros" envía a la dirección: https://beta.emplea.do/companies la cual redirecciona al login.

## To Reproduce

![link](https://user-images.githubusercontent.com/29816580/88328535-94e0c100-ccf6-11ea-8d52-f1ed78e807d5.gif)

[2020-07-23 19:54] eatskolnikov opened #193 "Aplicar estilos en posiciones"
Un ejemplo https://beta.emplea.do/Jobs/Details/1065

<img width="806" alt="Screen Shot 2020-07-23 at 3 54 05 PM" src="https://user-images.githubusercontent.com/1693000/88332592-cd839900-ccfc-11ea-9187-22b4dd89753c.png">

[2020-07-24 00:15] eatskolnikov commented on #191
Dale @ljcordero crea una cookie y guarda en ella los trabajos que ya he visitado como usuario. Del lado del servidor pregunta si el id del trabajo actual está en la cookie antes de mandar a incrementar el numero de las visitas

[2020-07-24 01:51] erickconcepcion commented on #92
en que quedo esto??

[2020-07-24 02:20] eatskolnikov commented on #92
Vamos a hacer un proyecto aparte para el API. Lo comenzaremos muy pronto.

[2020-07-25 03:09] erickconcepcion commented on #193
Que estilo quieres que se aplique? puedes ser un poco mas especifico?

[2020-07-25 03:12] erickconcepcion commented on #192
Entiendo que deberia ser anonimo, hay alguien trabajando esto?

[2020-07-25 15:48] #191 closed

[2020-07-25 15:51] eatskolnikov commented on #193
@erickconcepcion El texto se ve como todo pegado, los saltos de linea están como \n y deberían convertirse en <br/>

[2020-07-25 15:54] eatskolnikov commented on #190
El edit hace un redirect y las otras operaciones se realizan por ajax. La solución de este problema es mostrar un mensaje de error al usuario cuando intente darle a esas opciones y falle la operación. En js al método $.post se le puede concatenar una llamada a .fail(callback) para entonces mostrar este mensaje de error.

Creo que es algo como esto:

[code]

[2020-07-25 18:42] ronelpanag opened #195 "Fallo en las imagenes de empresas en los cards de posiciones"
1. Para casos como este donde por x o y razón, si la aplicacion no encuentra la imagen de la empresa para la lista de empleos, podria mostrar las iniciales.
![image](https://user-images.githubusercontent.com/40268531/88458394-bdce9680-ce5b-11ea-9beb-73fca8ca9284.png)

2. El logo de Newtech se descuadra.
![image](https://user-images.githubusercontent.com/40268531/88458369-8cee6180-ce5b-11ea-8a15-c4

[2020-07-25 19:18] eatskolnikov opened #196 "Agregar sección de powered by en el readme"
Agregar una sección en el readme.md mencionando las tecnologías utilizadas en el proyecto

[2020-07-25 19:24] eatskolnikov opened #197 "Agregar el label de bug al issue nuevo cuando creo un issue como bug"
Al crear un issue y seleccionar el template bug asignarle automaticamente el label "Bug"

[2020-07-25 19:36] ronelpanag commented on #195
Como no tiene a nadie asignado, puedo resolver yo este issue?

[2020-07-25 22:45] erickconcepcion opened #201 "Agregar un linter para el proyecto para evitar set de cambios sucios"
### Algunos IDE's pueden ensuciar nuestro código y causar falsos positivos en nuestro set de cambios

Según la observación del pull request #191 al analizar el [commit](https://github.com/Emplea-do/emplea_do/pull/194/commits/37eb20085373646e3cae6a4c66182a2d690a862b) podemos ver que el set de cambios correcto inicia en la lines **297** y termina en la **316**, luego todos los demás set de cambios d

[2020-07-26 01:29] eatskolnikov commented on #195
@ronelpanag no es que no encuentra la imagen, es que esa imagen está alojada en un servidor sin certificado digital. Lo que debes hacer es poner que si el contexto de la url de la imagen es http el ponga las iniciales

[2020-07-26 07:33] JhonasV commented on #187
I would like to take this issue. @eatskolnikov

[2020-07-26 07:42] JhonasV commented on #183
I would like to take this issue. @eatskolnikov

[2020-07-26 09:28] jpozo20 commented on #193
Para los que vean este issue, es tan simple como como este pequeño css:  `white-space: pre-line`.

Por cierto, @eatskolnikov creo que sería bueno agregarle clases a las diferentes partes del job si surgen más problemas de estilo en el futuro.

[2020-07-26 18:13] jpozo20 opened #204 "Agregar environment tag-helper para los .css y .js"
## Is your feature request related to a problem? Please describe.

Para fines de trabajar con las mejoras que incluyan cambios en el estilo o javascript, es necesario agregar los tag-helpers de environment  para que los cambios se reflejen mientras la aplicación está corriendo. Actualmente, debido al proceso de minificación hay que reiniciar la sesión para ver los cambios que se hagan en los .css

[2020-07-26 18:38] jpozo20 opened #205 "Issues con el form de crear nuevo job"
## Describe the bug

Actualmente hay algunos issues con el formulario de creación de nuevo job:

1. Los inputs están haciendo submit del form al presionar enter
2. El campo Sitio web dice que es opcional, pero la tabla tiene un NOT NULL constraint y da error al guardar
3. Los campos de HowToApply y Description pierden el formato al hacer submit del formulario y ocurre un error

## To Reproduce

Pa

[2020-07-26 18:45] jpozo20 opened #206 "Link imágenes en lista inicial de jobs genera un 404"
## Describe the bug

Al hacer click al enlace de la imagen de cada job en la lista del home page, lanza un 404 al no encontrar el archivo.

## To Reproduce

Steps to reproduce the behavior:

- Ir al home page
- Dar click al link en cualquiera de las imágenes de los jobs

## Expected behavior

Si la imagen debe tener un link, esta debe llevarme a la imagen original

## Screenshots

![issue-jobs-ima

[2020-07-26 18:46] jpozo20 commented on #182
Adicional, agregar los enlaces adecuados a cada imagen. Actualmente sólo te llevan al hash (#).

[2020-07-26 23:26] erickconcepcion commented on #201
Voy a usar StyleCop porque se agrega en el proyecto y no necesita que quien este desarrollando instale nada adicional en su VS y por lo que se podrá ver los resultados en el build output.

[2020-07-27 18:16] jlebreault opened #207 "Visual improvements to the vacancies post cards for web and mobile"
Little changes to improve the visual hierarchy and information architecture for the cards

Here is the example: https://xd.adobe.com/view/b964bb46-5e8b-4d61-976c-ef1255771e6d-ec37/

[2020-07-28 02:56] ronelpanag commented on #195
@eatskolnikov según pude ver en el código, la condición para que el partial muestre la imagen y no las iniciales es que la URL del logo no sea null o un espacio en blanco y que no comience con "http://", o sea, que ese caso ya está previsto en el código

[2020-07-28 12:22] #193 closed

[2020-07-30 03:02] GianCastle commented on #205
Por temas de accesibilidad de la web, el comportamiento esperado de los formularios es que al presionar enter estos hagan submit. Así lo especifica el standar de HTML

![image](https://user-images.githubusercontent.com/6842883/88875444-44360000-d1ef-11ea-91e9-9692432ae866.png)

Puedes ver más detalles sobre la especificación aquí. 👇🏽
https://html.spec.whatwg.org/multipage/form-control-infrastructu

[2020-07-30 17:10] jpozo20 commented on #205
Es la primera vez que leo sobre que ese es el comportamiento por default.

De todas formas, el usuario nunca es de confiar que haga las cosas bien. Otro forma de abordarlo que leí, es presentar un confirm dialog al usuario para validar que no fue por error que le dió a la tecla.

[2020-07-30 17:43] robertlluberes opened #209 "Improve Powered By section in README file"
## Is your feature request related to a problem? Please describe.

Is not a problem at all, we can improve the **Powered By** section in the _readme.md_ file, right now the images are in vertical which cause more scroll. So, I think we can put it in horizontal, one next to the other.

## Describe the solution you'd like

It would look like this:
![image](https://user-images.githubusercontent.com/1

[2020-07-31 00:12] #209 closed

[2020-07-31 02:59] erickconcepcion opened #213 "Link a slack roto"
## Describe the bug

En el main readme.md el link a slack no funciona

## To Reproduce

Steps to reproduce the behavior:

1. readme.md en la raiz del repo
2. vaya a el link de slack
3. clickee sobre el
4. Se vera un error 404

## Expected behavior

Unierse al canal de slack de emplea .do al clickar en el link

[2020-08-01 06:14] erickconcepcion commented on #213
Voy a cerrarlo ya que ha sido incorporado

[2020-08-01 06:14] #213 closed

[2020-08-02 16:44] JhonasV commented on #182
Me gustaría tomar este issue si nadie lo ha trabajado @eatskolnikov

[2020-08-02 16:44] JhonasV commented on #206
Me gustaría tomar este issue si nadie lo ha trabajado @eatskolnikov

[2020-08-03 12:26] eatskolnikov commented on #206
El problema aquí es que el link debería mandar a la url de /Company/{id} para ver los trabajos de esa compañía. El link se está formando mal, esto se puede resolver con una @ donde se construye la URL

[2020-08-06 03:23] JhonasV commented on #206
Este issue depende del merge del PR #217 @eatskolnikov

[2020-08-10 15:57] ronelpanag commented on #195
@eatskolnikov recreé el escenario en el que las imágenes tienen URL, comienzan con "https://" y aún así se rompen. Lo más conveniente sería mostrar las iniciales o el la imagen de Emplea.do?

[2020-08-14 19:28] codercampos commented on #207
I can get this.

[2020-08-15 06:05] codercampos commented on #207
PR #219 has implemented this improvement.

[2020-08-20 02:15] #207 closed

[2020-08-24 02:14] codercampos commented on #128
@eatskolnikov Can We close this issue?

[2020-08-27 22:29] #128 closed

[2020-08-31 22:54] maykoestevez opened #220 "El filtro para mostrar solo posiciones remota no esta visible en la pantalla de empleos"
## Describe the bug
Cuando navegas a la pantalla de empleos desde el menu el checkbox para mostrar solo empleos remoto no esta visible.

## To Reproduce

Pasos para reproducir el error

1. Navegar a la pagina de empleos.
2. Visualizar el filtro llamado "Sólo mostrar posiciones remotas"

## Expected behavior

Mostrar check box para poder filtrar empresas que ofrezcan trabajo remoto

## Screenshots

[2020-08-31 22:56] maykoestevez commented on #220
Me gustaría trabajar en este Issue.

[2020-09-02 01:01] edwinfelipe commented on #220
No puedo reproducirloa mi si se me muestra

[2020-09-02 01:04] maykoestevez commented on #220
Lo estas probando en tu ambiente local o en la URL de producción?

[2020-09-02 01:10] edwinfelipe commented on #205
Lo siento talvez entendi mal pero creo que dice que cuando el formulario tiene mas de un campo se deberia evitar hacer submit de manera implicita enl el penultimo parrafo

[2020-09-02 01:12] edwinfelipe commented on #220
en produccion, aun no he descargado el proyecto, quiero encontrar un issue para empezar a contribuir, tu lo probaste en produccion?

[2020-09-02 01:29] maykoestevez commented on #220
Si, en producción es que no me aparece el checkbox, pero cuando estaba revisando localmente funciona bien.
Tendria que ver si es un problema del browser, estoy usando chrome en una macbook.

[2020-09-02 12:05] maykoestevez commented on #220
Otra cosa que estoy viendo es que como te mencione localmente funciona pero en producción no, y estoy probando con el mismo sistema operativo y browser.

Voy a inspeccionar como dices a ver  si encuentro algun estilo css raro.

[2020-09-14 16:03] JhonasV commented on #206
@eatskolnikov ya pueden cerrar este issue, se resolvió con el PR #217 y este se encuentra en PROD.

[2020-09-27 05:13] codercampos commented on #47
@christianrd @eatskolnikov ya no se seguira esta feature?

[2020-09-28 13:45] christianrd commented on #47
@codercampos si alguien lo puede tomar que lo tome, esta libre, no podré colaborar hasta finales de octubre.

[2020-09-28 21:02] codercampos commented on #192
Closing this issue. Seems to be fixed.

[2020-09-28 21:02] #192 closed

[2020-10-02 23:23] sact1909 commented on #130
@eatskolnikov creo que ese boton puede ir aqui

![image](https://user-images.githubusercontent.com/23615129/94976981-cb9c3a00-04e4-11eb-98af-8d6e7d49fa9d.png)

[2020-10-05 22:00] #197 closed

[2020-10-06 21:19] robertlluberes commented on #206
Confirmado, gracias

[2020-10-06 21:19] #206 closed

[2020-10-06 21:20] #196 closed

[2020-10-06 21:24] robertlluberes commented on #182
Asignado. @JhonasV

[2020-10-07 06:18] varlackc opened #223 "el script para inicializar el proyecto en windows (init.bat) esta roto"
## El Script para inicializar el proyecton en windows (init.bat) esta roto

Cuando el projecto es creado por primera vez en windows, y el init.bat script se utiliza para poblar la base de datos usando fluent migrator, el script muestra varios errores. Adicionalmente, los comentarios en el script init.bat muestran un error cuando el script init.bat es ejecutado

## Reproducir el error

Pasos para r

[2020-10-07 23:23] robertlluberes commented on #187
Ceraré ste Issue, el llamado a la acción de compartir el empleo en _Twitter_ y _Facebook_ está presente y funcionando.

![image](https://user-images.githubusercontent.com/13991439/95397877-58bf0480-08d2-11eb-91a8-27ec1d645fa1.png)

[2020-10-07 23:23] #187 closed

[2020-10-10 22:41] robertlluberes commented on #223
Esoy cerrando este Issue, ya que fue resuelto en el PR [Reparar los errores en el script init.bat #224](https://github.com/Emplea-do/emplea_do/pull/224)

[2020-10-10 22:41] #223 closed, assigned to nobody

[2020-10-11 04:55] varlackc opened #225 "Documentacion del sistema"
## El sistema necesita mejor documentacion

El sistema necesita mejor documentacion, para facilitar el proceso de contribucion. Mejores comentarios hacen falta en el codigo de la aplicacion.

[2020-10-11 21:10] eatskolnikov commented on #225
@varlackc ¿puedes ser más específico? Manda ejemplos puntuales

[2020-10-12 00:30] maykoestevez commented on #220
En las ultimas semanas estuve revisando el Issue y no lo puedo reproducir corriendo la aplicación local ni en producción, parce ser que era algo local de mi browser, puede alguien confirmarme si el checkbox aparece correctamente @eatskolnikov ?

[2020-10-17 15:52] eatskolnikov commented on #220
A mi me sale, estoy usando chrome.
¿será un tema de resolución o de los colores de la pantalla?
¿Qué browser estás usando @maykoestevez ?

![Screen Shot 2020-10-17 at 11 51 03 AM](https://user-images.githubusercontent.com/1693000/96347325-0a96c780-106f-11eb-863d-27b48c9b01dd.png)

[2020-10-17 15:55] robertlluberes commented on #220
En Firefox no aparece:

![image](https://user-images.githubusercontent.com/13991439/96347420-b17b6380-106f-11eb-988b-58c7309e2c34.png)

[2020-10-17 23:04] maykoestevez commented on #220
Solo he probado en chorme y safari @eatskolnikov
Voy a revisar en Firefox, gracias @robertlluberes

[2020-10-19 12:45] EddyCordero opened #227 "Topics para usuarios"
Agregar la posibilidad de agregar topics a un usuario por ejemplo yo como .net dev que esta buscando empleo me gustaría poder estar suscrito a ciertos topics (C#, ASP.Net, WinForms) y poder recibir notificaciones semanales de los empleos que se creen con estos.

También se podría agregar la posibilidad de decirle a la persona que creo el empleo cuantas personas lo han recibido por esta via.

[2020-11-10 03:34] Jadhielv commented on #182
Done @robertlluberes. Check **_PR_**: #228

[2020-11-10 19:25] #182 closed

[2020-11-18 15:02] eatskolnikov opened #229 "Las publicaciones salen con tipo "Web designer" por defecto aunque el usuario lo especifica en el job post"
Las publicaciones salen con tipo "Web designer" por defecto aunque el usuario lo especifica en el job post
![WhatsApp Image 2020-11-18 at 9 55 34 AM](https://user-images.githubusercontent.com/1693000/99546203-92ccfd00-298c-11eb-8a1f-0418aee200e9.jpeg)

[2020-11-18 15:03] eatskolnikov opened #230 "Los radio buttons de compañía no se muestran"
Los radio buttons de compañía no se muestran
![WhatsApp Image 2020-11-18 at 9 53 53 AM](https://user-images.githubusercontent.com/1693000/99547192-a0cf4d80-298d-11eb-9ea6-5df6ce175dac.jpeg)

[2020-11-18 15:23] EddyCordero commented on #229
I'm here

[2020-11-18 15:23] EddyCordero commented on #230
I'm here

[2020-11-22 16:13] #229 closed, assigned to EddyCordero

[2020-12-06 20:01] javierbeltran opened #232 "Error producido cuando se trata de registrar compañía y el sitio web se deja empty"
Traté de registrar una compañía y dejé el campo sitio web vacío.

![image](https://user-images.githubusercontent.com/40900147/101291004-133c8c00-37dc-11eb-848e-138b2673193a.png)

[2020-12-11 05:03] Orbis25 commented on #232
i'm here!

[2020-12-27 19:10] weedkiller opened #233 "Update to .NET 5"
Hello can you update to .Net 5 and new JSON lib, and an admin dashboard for traffic.

[2021-01-03 14:59] JhonasV commented on #183
@eatskolnikov este issue fue completado en el PR #217

[2021-02-06 23:54] ljcordero commented on #190
This is already fixed with commit: ca9c8bd1
However @eatskolnikov we should add another issue to handle all HTTP error (for user-friendly message) as you suggested here.

[2021-02-06 23:54] #190 closed

[2021-03-17 12:06] fj-ramirez commented on #92
Ya existe el proyecto?

[2021-05-20 12:29] ZabalaMelendez commented on #232
Me gustaria aportar en este bug, por favor asignarmelo. Gracias!

[2021-07-12 18:43] ZabalaMelendez commented on #232
??

[2021-07-27 20:40] jsalcedo28 opened #234 "Problemas con el campo de Localidad en el formulario de nuevo empleo"
## Describe the bug

A clear and concise description of what the bug is.

Problemas con el campo de Localidad en el formulario al momento de crear un Nuevo Empleo.

## To Reproduce

Steps to reproduce the behavior:

1. Click en "Publicar un Empleo"
2. Scroll hacia abajo hasta llegar al campo de Localidad en el formulario.
3. Ver error "Oops! Something went wrong."

## Expected behavior

Se supone

[2021-10-13 13:24] claudiosanchez commented on #234
Gracias por reportarlo. El API Key fue reemplazado por uno soportado por el API v3 de Google Places.  Super contento de ver que la comunidad ayuda a resolver el problema.

[2021-10-13 13:24] #234 closed, assigned to claudiosanchez

[2022-11-10 21:01] robertlluberes commented on #48
Este _bug_ es especifico para el inicio de sesión con _Google_, el día de hoy no he podido reproducirlo.

He iniciado sesión correctamente eligiendo mi cuenta entre un listado de cuentas de Google disponibles en mi navegador, _por lo que estaré cerrando este bug_.

![image](https://user-images.githubusercontent.com/13991439/201201843-ce5fef23-9454-40b1-834f-73086392d2d6.png)

Adicionalmente el iss

[2022-11-10 21:01] #48 closed

[2022-11-10 22:29] robertlluberes opened #238 "Job Details links not working properly"
## Describe the bug

1. The Company name under the Job Title is linked to the Company profile picture
2. In the Job Detail view, in the _Compañía_ section the following links are not working:
    - Website
    - Location
    - Email

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://emplea.do/
2. Click on any posted job
3. Click on the mentioned links above (see Screenshots below

[2022-11-17 05:23] #238 closed, assigned to robertlluberes

[2022-11-17 05:44] robertlluberes commented on #166
Cerraré este Issue dado que fue trabajado en el PR #226

Sin embargo, algunos comentarios del PR no fueron resueltos, por lo que abriré un nuevo Issue con los mismos:

- Renombrar el endpoint _Wizard_ a _Create_ en _CompaniesController_ https://github.com/Emplea-do/emplea_do/pull/226#discussion_r506954188
- Renombrar la vista _Wizard_ a _Create_ en _Web/Views/Banners/_ https://github.com/Emplea-do

[2022-11-17 05:44] #166 closed

[2022-11-17 05:50] robertlluberes opened #240 "Renombrar de Wizard a Create para vista y actions de los banners"
Algunos comentarios del PR #226 no fueron resueltos:

La motivación de los mismos es la siguiente:

Ya que la creación de banners no es una serie de pasos o _stepper_, se sugiere renombrar de "_Wizard_" a "Create"

- [x] Renombrar el endpoint _Wizard_ a _Create_ en _CompaniesController_ https://github.com/Emplea-do/emplea_do/pull/226#discussion_r506954188
- [x] Renombrar la vista _Wizard_ a _Creat

[2022-11-21 13:26] #130 closed

[2022-11-21 13:29] #240 closed, assigned to robertlluberes